* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';
}

/*------------- HEADER -------------*/

.logo {
    height: auto;
    width: 40%;
}

.contLogo {
    display: flex;
}

.imgNav {
   width: 35px;
}

/* --------------- FOOTER----------- */

footer {
    bottom: 0;
}

.legales {
    background-color: #D1E9A3;
    width: 100%;
}

.textLegales {
    text-align: center;
    padding-top: 12px;
    font-size: 12px
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.footerTitulo {
    font-size: 20px;
}

.footerTexto {
    font-size: 15px;
}

.footerContenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;

}

/*------- CARD--------- */

.cardCont {
    margin: 30px;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
}

.card-img-top {
    width: 50%;
}

/*-------------- VENTANA EMERGENTE----------*/

#contPopUp {
    z-index: 9999;
    background: rgba(48, 48, 48, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.popUp {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 950px;
}

.popValidarEdad::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.popValidarEdad{
    background: #fff;
    flex-basis: 0;
    flex-grow: 2;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
   
}

.popValidarEdad h3 {
    font-weight: 500;
    font-size: 20px;
    color: #1F4068;
    margin-bottom: 0px;
    margin-top: 22px;
    width: 80%;

}

.popValidarEdad p {
    font-size: 15px;
}

.popValidarEdad button {
    width: 80%;
    padding: 15px;
    border: none;
    background: #ccc;
    border-radius: 0px;
}

.menor {
    background-color: #FAF0E6;
}

.mayor {
    background-color: #F5F5DC;
}

.menor:hover {
    background-color: #FAD8CE;
}

.mayor:hover {
    background-color: #D1E9A3;
}

#contPopUp.show{
    visibility: visible;
}

/* ----------- INICIO SESION ---------------- */

.contS {
    z-index: 9999;
    background: rgba(48, 48, 48, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contForm {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 950px;
}

#close{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 25px;
    color: #1bc59b;
    cursor: pointer;
}


.formSesion::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.formSesion {
    background: #fff;
    flex-basis: 0;
    flex-grow: 2;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
   
}

.formSesion h4 {
    font-weight: 500;
    font-size: 20px;
    color: #1F4068;
    margin-bottom: 0px;
    margin-top: 34px;
    width: 80%;

}

.formSesion input {
    width: 80%;
    padding: 15px;
    border: none;
    background: #ccc;
    margin-bottom: 15px;
    text-align: center;
}

.formSesion button {
    width: 80%;
    padding: 15px;
    border: none;
    background: #FAD8CE;
    border-radius: 0px;
    margin-bottom: 20px;
}

.btnEnviar:hover {
    background-color: #D1E9A3;
}

/* ----------- CARRITO ---------------- */

.contCarrito::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.contCarrito {
    background: #fff;
    flex-basis: 0;
    flex-grow: 2;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
   
}

.contCarrito h4 {
    font-weight: 500;
    font-size: 20px;
    color: #1F4068;
    margin-bottom: 0px;
    margin-top: 34px;
    width: 80%;

}

.contCarrito input {
    width: 80%;
    padding: 15px;
    border: none;
    background: #ccc;
    margin-bottom: 15px;
    text-align: center;
}

.contCarrito button {
    width: 80%;
    padding: 15px;
    border: none;
    background: #FAD8CE;
    border-radius: 0px;
    margin-bottom: 20px;
}