* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';
}

/*------------- HEADER -------------*/

.logo {
    height: auto;
    width: 40%;
}

.contLogo {
    display: flex;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navindex {
    width: 100%;
    position: fixed;
    z-index: 2;
}

@media only screen and (max-width: 990px) and (min-width: 5px)  {  
  .navbar {
    display: flex;
    flex-wrap: nowrap;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  .logo {
    height: auto;
    width: 80%;
} 
}



/* --------------- FOOTER----------- */

footer {
    bottom: 0;
}

.legales {
    background-color: #D1E9A3;
    width: 100%;
}

.textLegales {
    text-align: center;
    padding-top: 12px;
    font-size: 12px
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.footerTitulo {
    font-size: 20px;
}

.footerTexto {
    font-size: 15px;
}

.footerContenedor {
    background-color: #FAF0E6;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

/*------- CARD--------- */

.cardCont {
    margin: 30px;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.card-img-top {
    width: auto;
    height: 150px;
}

/*--------------MAIN // CUERPO----------*/

.carousel {
    margin-top: 100px;
}

.buscadores {
    display: flex;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    justify-content: flex-end;
}

#navbarDropdown {
    margin-right: 20px;
}

.subir {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 31px;
}

.icono {
   font-size: 50px;
   color: #fac9ea;
   margin: 20px;
}

.fa-cart-shopping {
    font-size: 40px;
    color: #D1E9A3;
    margin: 20px; 
}

.fa-circle-user {
    font-size: 40px;
    color: #fdcd9c;
    margin: 20px; 
}

.fa-martini-glass-citrus {
    font-size: 40px;
    color: #fac9ea;
    margin: 20px; 
}

.nav-link {
    padding: 0;
}

/*-------------- VENTANA EMERGENTE----------*/

#contPopUp {
    z-index: 9999;
    background: rgba(48, 48, 48, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.popUp {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 950px;
}

.popValidarEdad::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.popValidarEdad {
    background: #fff;
    flex-basis: 0;
    flex-grow: 2;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;

}

.popValidarEdad h3 {
    font-weight: 500;
    font-size: 20px;
    color: #1F4068;
    margin-bottom: 0px;
    margin-top: 22px;
    width: 80%;

}

.popValidarEdad p {
    font-size: 15px;
}

.popValidarEdad button {
    width: 80%;
    padding: 15px;
    border: none;
    background: #ccc;
    border-radius: 0px;
}

.menor {
    background-color: #FAF0E6;
}

.mayor {
    background-color: #F5F5DC;
}

.menor:hover {
    background-color: #FAD8CE;
}

.mayor:hover {
    background-color: #D1E9A3;
}

#contPopUp.show {
    visibility: visible;
}

/* ----------- INICIO SESION ---------------- */

.contS {
    z-index: 9999;
    background: rgba(48, 48, 48, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contForm {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 950px;
    background: #fff;
    height: 300px;
}

#close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 25px;
    color: #1bc59b;
    cursor: pointer;
}


.formSesion::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.formSesion {
    background: #fff;
    flex-basis: 0;
    flex-grow: 2;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;

}

.formSesion h4 {
    font-weight: 500;
    font-size: 20px;
    color: #1F4068;
    margin-bottom: 0px;
    margin-top: 34px;
    width: 80%;

}

.formSesion input {
    width: 80%;
    padding: 15px;
    border: none;
    background: #ccc;
    margin-bottom: 15px;
    text-align: center;
}

.formSesion button {
    width: 80%;
    padding: 15px;
    border: none;
    background: #FAD8CE;
    border-radius: 0px;
    margin-bottom: 20px;
}

.btnEnviar:hover {
    background-color: #D1E9A3;
}

/* ----------- CARRITO ---------------- */


.contCarrito::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.contCarrito {
    width: 90%;
    /* flex-basis: 0;
    flex-grow: 2; */
    display: flex;
    position: relative;
    text-align: center;
}

.contCarrito h4 {
    font-weight: 500;
    font-size: 20px;
    color: #1F4068;
    margin-bottom: 0px;
    margin-top: 34px;
    width: 100%;

}

.contCarrito input {
    width: 80%;
    padding: 15px;
    border: none;
    background: #ccc;
    margin-bottom: 15px;
    text-align: center;
}

.contCarrito button {
    width: 80%;
    padding: 15px;
    border: none;
    background: #FAD8CE;
    border-radius: 0px;
    margin-bottom: 20px;
}

.contCar {
    z-index: 9999;
    background: rgba(48, 48, 48, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contCarNone {
    display: none;
}


.contFormCar {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 950px;
    background: #fff;
    height: auto;
    min-height: 300px;
    flex-direction: column;
    justify-content: space-between;
}

.divcarrito {
    border-left: 13px solid #D1E9A3; 
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.divcarrito:hover {
    border-left: 13px solid #FAD8CE;
}

.far {
    font-size: 25px;
    color: hsl(12, 76%, 44%);
    cursor: pointer;
}

.btnVaciar {
    width: 80%;
    padding: 15px;
    border: none;
    background: #FAD8CE;
    border-radius: 0px;
    margin-bottom: 20px;
}

#domCar {
    width: 80%;
}

.btnVaciar:hover {
    background-color: #D1E9A3;
}

.divbtnVaciar {
    width: 100%;
    text-align: center;
}

.total {
    display: flex;
}

/* -----------------  API -------------*/
.iframe {
    object-fit: contain;
    left:0;
    position:absolute;
    top:0;
    width:100%;
} 

.contenedorBuscador {
   
    background-image: url("../assets/img/CoctelFondo.png");
}

.contenedorTexto {
    padding-top: 81px;
}

.contenedor {
    width: 100%;
}

h2 {
   font-size: 30px;
   text-align: center;
   color: #FAF0E6;
}

.conteBuscador {
    margin: 42px 0px;
    display: flex;
    justify-content: center;
}

.button {
    padding: 15px;
    border: none;
    background: #FAD8CE;
    border-radius: 0px;
    margin: 15px 0;
}

.button:hover {
    background-color: #D1E9A3;
}

#form {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}


#resultado {
    margin: 60px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

#divContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #858585cc;
    max-width: 30%;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgb(0 0 0 / 30%)
}

.imagen {
    width: 200px;
}

.resultadoTitulo {
    text-transform: uppercase;
    padding-bottom: 20px;

} 

.ingredientes {
    padding: 36px 0px;
    font-weight: bold;
}
 
.txtBusqueda {
    color: #fff;
}

.divCar {
    text-align: center;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
